
.list-elem{
    width: 200px;
    border-style: solid;
    background-color: aliceblue;
}

.invisible{
    display: none;
}
.form-control{
    max-width: 200px;
}
.error-text{
    color: red;
}
#sku-success{
    color: green;
}